* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: none;
  color: white;
}

:root {
  --white: #fff;
  --dark-blue: #11131e;
  --purple: #8a0dff;
  --green: #00ff36;
  --dark-green: #106522;
  --yellow: #ffe70d;
  --red: red;

  --grey-100: #1c212d;
  --grey-200: #262d3a;
  --grey-300: #111520;
  --scrollbar-color: #404a5e;
}

body {
  background-color: var(--dark-blue);
  background-image: url("https://cdn.hydranetwork.org/assets/images/logo-grey.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.font-green {
  color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.cursor-pointer {
  cursor: pointer;
}

.mt-24 {
  margin-top: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mtb-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-grey-300 {
  background-color: var(--grey-300);
}

.bg-grey-100 {
  background-color: var(--grey-100);
}

.bg-grey-200 {
  background-color: var(--grey-200);
}

.bg-purple {
  background-color: var(--purple);
}

.mb-4 {
  margin-bottom: 4px !important;
}

.p-16 {
  padding: 16px;
}

.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-24 {
  padding: 24px;
}

.w-230 {
  width: 230px;
}

.border-purple {
  border: 1px solid var(--purple);
}

.bg-transparent {
  background-color: transparent;
}

.mt-16 {
  margin-top: 16px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.ml-8 {
  margin-left: 8px;
}

.prl-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.br-4 {
  border-radius: 4px;
}

.mb-0 {
  margin-bottom: 0px;
}

.font-bold {
  font-weight: bold;
}

.font-white {
  color: var(--white);
}

.icon-white {
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(353deg)
    brightness(123%) contrast(100%);
}

.top-logo {
  width: 200px;
  height: 200px;
}

textarea.list {
  resize: none;

  background-image: url("https://cdn.hydranetwork.org/assets/images/logo-grey.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

button:disabled,
textarea:disabled,
input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.modal-header,
.modal-footer {
  border-bottom: none;
  border-top: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--purple);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="radio"]:checked {
  accent-color: var(--purple);
}

.p-8 {
  padding: 8px;
}

.font-14 {
  font-size: 14px;
}
